<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Wildlife log</title>
  <%- include partials/_stylesheets %>
  <%- include partials/_scripts %>
</head>

<body>
  <header>
  <%- include partials/_navBar %>
  </header>

    <main class="container">
        <%- include partials/_messages %>
            <%- body %>
          </div>
      </div>
    </main>


    <%- include partials/_footer %>

</body>

</html>
