<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/jpg" href="/assets/images/favicon-32x32.jpg" sizes="32x32" />

    <title>Wildlife log</title>
    <%- include partials/_scripts %>
    <%- include partials/_stylesheets %>

  </head>

  <body>

    <header>
      <%- include partials/_navBar %>
    </header>

    <main class="container">
      <%- include partials/_messages %>
      <%- body %>
    </main>

    <footer>
      <%- include partials/_footer %>
    </footer>

  </body>

</html>
