<div class="col">
  <h2 class="title">Edit your wildlife image</h2>

  <form class="form-group" method="POST" enctype="multipart/form-data" action="/wildlifePosts/<%= wildlifePost.id %>">
    <input type="hidden" name="_method" value="PUT">

    <div>
      <label for="title">Title</label>
      <input class="form-control" type="text" name="title" id="title" value="<%= wildlifePost.title %>">
    </div>

    <div>
      <label for="mainContent">Content by</label>
      <input class="form-control" type="text" name="mainContent" id="mainContent" value="<%= wildlifePost.mainContent %>">
    </div>

    <div>
      <label for="description">Description</label>
      <textarea class="form-control" name="description"><%= wildlifePost.description %></textarea>
    </div>

    <div>
      <label for="lat">Lattitude</label>
      <textarea class="form-control" name="lat"><%= wildlifePost.lat %></textarea>
    </div>

    <div>
      <label for="lon">Longditude</label>
      <textarea class="form-control" name="lon"><%= wildlifePost.lon %></textarea>
    </div>

    <button class="form-control btn btn-lg btn-block btn-primary">Update</button>
  </form>
</div>
