<div class="card" style="width: 50rem;">
  <img class="card-img-top" alt="wildlife image" style="height: 200px; width: 300px" display: block;" src="<%= wildlifePost.imageSRC %>" data-holder-rendered="true">
  <div class="card-block">
    <h2 class="card-title"><%= wildlifePost.title %></h2>
  </div>
    <div class="card-block">
      <ul class="list-group list-group-flush">
    <li class="list-group-item">Image content:  <%= wildlifePost.mainContent %></li>
    <li class="list-group-item">Created by:  <%= wildlifePost.createdBy.username %></li>
    <li class="list-group-item">Description: <%= wildlifePost.description %></li>
  </ul>
  <div id="map" data-markers="<%= JSON.stringify([wildlifePost]) %>"></div>"></div>
</div>
<div class="btn-group"
    <!--  edit and delete buttons for the wildlife post -->
    <% if(locals.isAuthenticated && wildlifePost.belongsTo(user)) { %>

      <a href="/wildlifePosts/<%= wildlifePost.id %>/edit" class="btn btn-lg btn-block btn-warning">Edit post</a>

      <form method="POST" action="/wildlifePosts/<%= wildlifePost.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-lg btn-block btn-danger">Delete post</button>
      </form>

    <% } %>
</div>
    <!-- comment form for all users that are logged in  -->
    <% if(locals.isAuthenticated) { %>
      <section>
        <h4>Leave a comment</h4>
        <form method="POST" action="/wildlifePosts/<%= wildlifePost.id %>/comments">
          <textarea name="content" class="form-control" id="content" placeholder="Comment"></textarea>
          <button class="btn btn-lg btn-block">Leave a comment</button>
        </form>
      </section>
    <% } %>

    <!-- ability to edit & delete comments if they are the users -->
    <section>
      <h4>Comments</h4>
      <% wildlifePost.comments.forEach((comment) => { %>
        <p><%= comment.content %></p>
        <small><%= comment.createdBy.username %></small>

        <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
          <form method="POST" action="/wildlifePosts/<%= wildlifePost.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-lg btn-block btn-primary">Delete comment</button>
          </form>
        <% } %>
      <% }) %>
    </section>

  </div>
</div>
